---
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0" />
		<meta name="description" content="Datalogiföreningen">
		<title>DALO&nbsp;&ndash;&nbsp;🟡&nbsp;🐐</title>
		<link rel="stylesheet" href="/assets/index.css" />
		<link rel="stylesheet" href="/assets/bibeln.css" />
		<link rel="shortcut icon" href="/assets/geten_512.png" type="image/png" />
		<script defer src="/assets/main.js"></script>
	</head>
	<body class="fc ai-stretch g8">
		<header class="fr jc-center">
			<nav class="fr ai-center g8">
				<a href="/" class="ai-stretch" id="logo"><img src="/assets/geten_512.png" alt="hem"/></a>
				{% for item in site.data.nav_items %}
					<a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>{{ item.name }}</a>
				{% endfor %}
			</nav>
		</header>
		<main class="f1 {{ page.main_class 	}}">{{ content }}</main>
		<footer class="fr fw ai-center jc-center g8">
			<a target="_blank" href="https://discord.gg/Y6Sw5WH">ﭮ  <u>Discord</u></a>
			<a href="mailto:styr@dalo.se"> <u>styr@dalo.se</u></a>
			<a target="_blank" href="https://www.instagram.com/dalo_mdh/"> <u>Instagram</u></a>
			<a target="_blank" href="https://www.facebook.com/datalogiforeningen"> <u>Facebook</u></a>
		</footer>
	</body>
</html>
