.bibeln {
	font-size:1rem;
	max-width:45rem;
}

.bibeln .song-toc {

}

.bibeln .song-link {
	font-size:0.8em;
	background:var(--bg2);
	height:2em;
	padding:.25em .75em;
	border-radius:calc(1.25em);
	white-space:nowrap;
}

.bibeln .song > h1 {
	margin:0;
	margin-top:1em;
	font-size:1.75em;
}
.bibeln .song > h2 {
	margin-top:0;
	font-size:1em;
	font-style:italic;
}
.bibeln .song > div > p:not(.note) {
	white-space:pre;
}

.bibeln .note {
	white-space:initial;
	position:relative;
	display:inline-block;
	padding:.75rem;
	border-left:4px solid #0085F2;
	border-radius:4px;
	font-size:.75em;
	background:rgba(0, 133, 242, 0.1);
	margin:unset;
}
.bibeln .note * {
	font-size:inherit;
}
/*.bibeln .note::before {
	content:"";
	display:block;
	position:absolute;
	left:1em;
	top:1.5em;
	width:1rem;
	height:1rem;
	background:#0085F2;
	mask:url("/assets/note-info.svg") center/contain;
}*/
.bibeln .note > :first-child {
	margin-top:0;
}
.bibeln .note > :last-child {
	margin-bottom:0;
}